.myButton {
	font-family: 'Montserrat', sans-serif;
	background-color: $progress-main;
	width: 20%;
	padding: 2%;
	box-shadow: none;
	border: solid 1px black;
	font-size: 18px;
	margin-top: 50px;
}